.neon-button {
	font-size: 20px;
	padding: 10px 20px;
	color: #fff;
	border: none;
	background-color: #1c1c1c;
	text-transform: uppercase;
	text-decoration: none;
	box-shadow:
		0 0 10px #1c1c1c,
		0 0 20px #1c1c1c,
		0 0 30px #1c1c1c,
		0 0 40px #1c1c1c;
	transition: all 0.2s ease-in-out;

	&:hover {
		box-shadow:
			0 0 5px #1c1c1c,
			0 0 10px #1c1c1c,
			0 0 15px #1c1c1c,
			0 0 20px #1c1c1c,
			0 0 25px #1c1c1c,
			0 0 30px #1c1c1c,
			0 0 35px #1c1c1c;
	}

	&:active {
		box-shadow:
			0 0 5px #1c1c1c,
			0 0 10px #1c1c1c,
			0 0 15px #1c1c1c,
			0 0 20px #1c1c1c,
			0 0 25px #1c1c1c,
			0 0 30px #1c1c1c,
			0 0 35px #1c1c1c;
		transform: scale(0.9);
	}
}
